@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.comfort {
  height: 130vh;
  display: flex;
  align-items: center;
  padding-left: 10vw;
  background: linear-gradient(180deg, rgba(255, 247, 238, 1) 10%, rgba(255, 231, 196, 1) 100%);
}
h2 {
  color: #353d46;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 12vw;
}

@media (max-width: 768px) {
  .comfort {
    padding-left: 5vw;
  }
  h2 {
    font-size: 17vw;
  }
}
