@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.durability {
  height: 120vh;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: flex-end;
  padding: 0 10vw;
  background-color: rgb(116, 92, 48);
  box-sizing: border-box;
}

.durability h3 {
  color: #353d46;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: clamp(1.5rem, 2.75vw, 3rem);
  margin-bottom: 3%;
  line-height: 1.1;
}

.durability p {
  color: #353d46;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: clamp(1rem, 1.2vw, 1.3rem);
  margin: 0;
  line-height: 1.6;
  opacity: 0.9;
  margin-right: 10%;
}

/* --- MOBIL NÉZET --- */
@media (max-width: 768px) {
  .durability {
    align-items: center;
    text-align: center;
    padding: 0 5vw;
    justify-content: flex-end;
    padding-bottom: 25vh;
    height: 80dvh;
  }

  .durability h3 {
    max-width: 100%;
  }

  .durability p {
    max-width: 100%;
  }
}
