* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.app-container {
  width: 100vw;
  height: 100vh;
  background: rgb(255, 231, 196);
  position: relative;
  overflow: hidden;
}

.scroll-container {
  position: relative;
  z-index: 20;
}

.section {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.canvas-container {
  position: absolute !important;
  top: 0;
  left: 0;
  z-index: 10;
}
