* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.app-container {
  width: 100%;
  height: var(--app-height, 100svh);
  background: rgb(255, 231, 196);
  position: relative;
  overflow: hidden;
}

.scroll-container {
  position: relative;
  z-index: 20;
}

.section {
  width: 100%;
  height: var(--app-height, 100svh);
  position: relative;
}

.canvas-container {
  pointer-events: none !important;
}
