@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* --- ALAPOK --- */
.navbar,
.nav-item {
  -webkit-user-select: none; /* Safari / Chrome */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE / Edge */
  user-select: none; /* Standard */

  -webkit-user-drag: none;

  -webkit-tap-highlight-color: transparent;

  cursor: default;
}

.navbar {
  position: fixed;
  top: 8%;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  border-radius: 22px;
  padding: 3vh 10vw;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: row;
  gap: 3.5vw;
  z-index: 20;
}

.nav-item {
  font-size: 0.9vw;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  border-radius: 3px;
  color: #7b6a58;
  list-style: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.nav-item:hover {
  color: #473e34;
  padding: 0.5vh 1vw;
  font-weight: 700;
}

/* --- RESZPONZÍVITÁS --- */

@media (max-width: 768px) {
  .navbar {
    padding: 2vh 10vw;
    left: 55%;
    gap: 10px;
  }
}

@media (max-width: 1200px) {
  .nav-item {
    font-size: 1.5vw;
  }
  .navbar {
    gap: 5vw;
    padding: 2.5vh 6vw;
  }
}
