html,
body {
  background-color: rgb(255, 231, 196);
  max-width: 100%;
  overscroll-behavior: none;
  margin: 0;
  padding: 0;
}

.canvas-container {
  width: 100%;
}
#root {
  max-width: 100%;
  overflow-x: clip;
}
