* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 231, 196);
  width: 100%;
  overflow-x: hidden;
  overscroll-behavior: none;
}

/* --- ALAPOK --- */
.logo,
.big-text,
.little-text {
  -webkit-user-select: none; /* Safari / Chrome */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE / Edge */
  user-select: none; /* Standard */

  -webkit-user-drag: none;

  -webkit-tap-highlight-color: transparent;

  cursor: default;
}

#root {
  max-width: 100%;
  overflow-x: clip;
}

.app-container {
  width: 100%;
  height: 100svh;
  background: rgb(255, 231, 196);
  position: relative;
  overflow: hidden;
}

.scroll-container {
  position: relative;
  z-index: 20;
}

.section {
  width: 100%;
  height: 100svh;
  position: relative;
}

.canvas-container {
  pointer-events: none !important;
  touch-action: none !important;
}
