html,
body {
  background-color: rgb(255, 231, 196);
  max-width: 100vw;
  overflow-x: hidden;
  overscroll-behavior: none;
  margin: 0;
  padding: 0;
}

.canvas-container {
  width: 100vw;
  max-width: 100%;
  overflow: hidden;
}
